.userInfoContainer {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin: 10px;
  padding: 10px;
}

.userInfoContainer * {
  height: inherit;
}

.userPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
}

.userInfoLeftBar p {
  text-decoration: underline;
  text-align: center;
}

.userStatusBar {
  display: flex;
  align-items: center;
  justify-content: left;
}

.userLocationBar {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.userLocationBar * {
  text-align: center;
  display: inline-block;
  height: fit-content;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.actionButton {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionButton button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 10px;
}

.unfollowButton {
  background-color: lightcoral;
}

.followButton {
  background-color: #1f3a4c;
}
