.nav {
  grid-area: n; /* псевдоним блока для грида */
  background-color: grey;
  font-size: 2rem;
  padding: 10px 10px;
}

a {
  text-decoration: none;
}

.item a {
  color: whitesmoke;
}

.item a.activeLink {
  color: aqua;
}